html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}

p {
  text-align: "justify";
}

menu {
  background-color: white;
  border-radius: 0rem 0rem 1rem 1rem;
  z-index: 9999;
}

menu > li {
  padding: 5px 10px 5px 10px;
}

#left-panel {
  background-color: #eb7779;
}

.background-1 {
  background-color: #f8fafc;
}

.red-bar {
  background-color: #eb7779;
  opacity: 100%;
}
